.Maincontainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 30px;
}



.scroll {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 30px;
}

.scroll img {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains the aspect ratio */
}
.scroll-container {
        width: 90%; /* 90% of the parent container's width */
        position: absolute;
        height: 50px;
        display: flex;
        align-items: center;
        overflow: hidden;
        bottom: 30px;
        margin-left: 10.5%; /* 10% of the parent container's width */
    }




    @keyframes tickerScroll {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }





    .ticker-items {
        display: inline-block; /* Ensure items are in a single line */
        flex-wrap: nowrap;
        gap: 50px;
        z-index: 1;
        will-change: transform;
        animation: none; /* Default to no animation */
        white-space: nowrap;
        flex-shrink: 0;
    }
    
    .scroll-text {
        font-family: 'Arab', sans-serif;
        font-size: clamp(16px, 2vw, 32px); /* Scales with viewport width but clamps within reasonable sizes */
        color: rgb(0, 0, 0);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;
    }
    

.container-time {
    overflow: hidden; /* Hide overflow for smooth animation */
    height: 50px; /* Set container height */
    width: 200px; /* Adjust to your needs */
    position: absolute;
    bottom: 30px;
}

.slider {
    position: relative;
}

.slide {
    font-family: 'Arab', sans-serif;
    font-size: 2vw; /* Font size scales with viewport width */
    color: rgb(0, 0, 0);
    height: 50px; /* Same as container height */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Start invisible */
    position: absolute;
}
